:root {
  --soft-magenta-hex: #E882E8;
  --soft-magenta: hsl(300, 69%, 71%);
  --violet: hsl(257, 40%, 49%);
}

.container {
  font-family: 'Open Sans', sans-serif;
  background: var(--violet) url("images/bg-mobile.svg") no-repeat;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.intro-section, footer {
  text-align: center;
}

.logo {
  width: 7.5em;
  margin: 2.5em;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.fab {
  width: 1em;
  height: 1em;
  text-align: center;
  color: #fff;
  padding: 0.625em;
  border: 0.063em solid #fff;
  border-radius: 3.125em;
  margin: 2.5em 0.625em;
}

.attribution {
  font-size: 0.688em;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
  color: hsl(228, 45%, 44%);
}

.attribution, .social-icons {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .container {
    background: var(--violet) url("images/bg-desktop.svg") no-repeat;
  }
}
