:root {
  --soft-magenta: hsl(300, 69%, 71%);
  --violet: hsl(257, 40%, 49%);
  --white: hsla(0, 0%, 100%, 0.9);
  --soft-white: hsla(0, 0%, 100%, 0.7);
}

.container {
  font-family: 'Open Sans', sans-serif;
  background: var(--violet) url("images/bg-mobile.svg") no-repeat;
  width: 100vw;
  height: 100vh;
  padding: 0 2.5em;
}

.intro-section, footer {
  text-align: center;
}

.logo {
  width: 7.813em;
  margin: 1.875em auto 3.750em -0.313em;
}

.intro-mockup>img {
  max-width: 100%;
  /* width: 18.75em; */
}

.intro-text {
  padding: 3.438em 0.188em 3.125em;
  line-height: 1.6;
  letter-spacing: 0.031em;
}

.intro-text>h1 {
  font-size: 1.438em; /* 23px */
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.intro-text>p {
  font-size: 0.875em; /* 14px */
  color: var(--soft-white);
  padding: 1.439em 0;
}

.reg-button {
  font-size: 0.75em; /* 12px */
  padding: 10px 70px;
  background: var(--white);
  border-radius: 4.167em;
  color: var(--violet);
  margin: 0.833em;
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.fa-stack {
  font-size: 0.875em; /* 14px */
}

.attribution {
  font-size: 0.688em; /* 11px */
  color: var(--soft-white);
  text-align: center;
  margin-top: 1.818em;
}

.attribution a {
  color: var(--soft-magenta);
}

@media screen and (min-width: 768px) {
  .container {
    background: var(--violet) url("images/bg-desktop.svg") no-repeat;
  }
}
