:root {
  --soft-magenta: hsl(300, 69%, 71%);
  --violet: hsl(257, 40%, 49%);
  --white: hsla(0, 0%, 100%, 0.9);
  --soft-white: hsla(0, 0%, 100%, 0.7);
  --shadow: 1.5rem 2rem 10rem #222;
  /* 1rem = 1px (see typography.css) */
}

body {
  /* font-size: 16rem (= 16px) - preset in typography.css */
  font-family: 'Open Sans', sans-serif;
  background: var(--violet) url("images/bg-mobile.svg") no-repeat;
}

.wrapper {
  display: grid;
  grid-gap: 1.25em;
  padding: 1.875em 2.188em 0;
}

.logo img {
  width: 7.813em;
}

.intro-section {
  display: grid;
  grid-gap: 1.25em;
  padding-top: 2.188em;
}

.intro-section, footer {
  text-align: center;
}

.intro-mockup>img {
  width: 100%;
  max-width: 43.75em;
}

.intro-text {
  display: grid;
  grid-gap: 1.25em;
  padding: 2.188em 0;
  line-height: 1.5;
  letter-spacing: 0.031em;
  justify-items: center;
}

.intro-text h2 {
  /* min font-size: 23px at 375px viewport width, max font-size: 40px at
     1440px width using linear interpolation */
  font-size: clamp(23rem, 17.01rem + 1.597vw, 40rem);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--white);
}

.intro-text p {
  font-size: clamp(15rem, 14.3rem + 0.1875vw, 17rem);
  color: var(--soft-white);
}

.intro-text a {
  font-size: 12rem;
  padding: 0.833em 5.833em;
  background: var(--white);
  border-radius: 5em;
  color: var(--violet);
  box-shadow: var(--shadow);
  align-self: center;
}

.intro-text a, .fa-facebook-f, .fa-twitter, .fa-instagram, .attribution a:hover {
  transition: all 0.3s ease 0s;
}

.intro-text a:hover {
  background: var(--soft-magenta);
  color: var(--white);
  box-shadow: 2rem 4rem 10rem #222;
  transform: scale(1.05);
}

footer {
  display: contents;
}

.social-icons li {
  display: inline-block;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
  border: 0.0625em solid #fff;
  height: 1.5625em;
  width: 1.5625em !important;
  border-radius: 50%;
  padding: 0.375em;
  margin: 0.0625em 0.3125em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
  box-shadow: 1rem 3rem 5rem #222;
  transform: scale(1.2);
}

.attribution {
  font-size: 12rem;
  color: var(--soft-white);
}

.attribution a {
  display: inline-block;
  color: var(--soft-magenta);
  margin: 0 2rem;
}

.attribution a:hover {
  text-shadow: 1rem 3rem 5rem #222;
  transform: scale(1.1);
}

@media (min-width: 900px) {
  body {
    background-image: url("images/bg-desktop.svg");
  }

  .wrapper {
    height: 100vh;
    align-items: end;
    padding: 1.875em 5em 0;
  }

  .logo img {
    width: 13.135em;
    padding-top: 1.25em;
  }

  .intro-section {
    grid-template-columns: 8fr 6fr;
    grid-gap: 3.438em;
    padding-top: 4.25em;
  }

  .intro-text {
    justify-items: start;
    text-align: left;
    padding-top: clamp(0rem, -75.132rem + 8.348vw, 45rem);
    padding-bottom: clamp(40rem, -177.07rem + 24.1021vw, 180rem);
  }

  .intro-text a {
    font-size: 18rem;
    padding: 0.889em 3.556em;
  }

  .social-icons {
    text-align: right;
  }

  .fa-facebook-f, .fa-twitter, .fa-instagram {
    height: 2.5em;
    width: 2.5em !important;
    padding: 0.6em;
    margin: 0 0.3125em;
  }
}
